# Ignore generated artifacts
artifacts/*
!artifacts/.gitkeep

# Ignore bugs directory
context/bugs/*
!context/bugs/.gitkeep

# Ignore dump directory
dump/

# Ignore .cursor directory
.cursor/

#Ignore dotagent context
dotagent-context/